body,
ul,
li,
p {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.2rem;
  font-family: Arial;
}

body {
  background: rgb(246, 244, 255);
}

a {
  text-decoration: none;
}
.logo {
  color: #fff;
}

.header {
  background: rgb(22, 21, 21);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
}

.menu {
  display: flex;
}

.menu li {
  margin-left: 10px;
}

.menu li a {
  display: block;
  padding: 10px;
  color: #fffffff8;
}

.flexh1 {
  text-align: center;
  margin-top: 100px;
}

img {
  max-width: 100%;
  display: block;
  border-radius: 8px;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
}

.flexbox > div {
  flex: 0 0 30%;
  background: rgb(22, 21, 21);
  padding: 10px 10px 10px 10px;
  margin: 50px;
  border-radius: 8px;
}

p {
  color: #fff;
  text-align: center;
  padding-top: 15px;
}
