body,
ul,
li,
p {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.2rem;
  font-family: Arial;
}

body {
  background: rgb(246, 244, 255);
  margin-bottom: 100px;
}

a {
  text-decoration: none;
}
.logo {
  color: #fff;
}

.header {
  background: rgb(22, 21, 21);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
}

.menu {
  display: flex;
}

.menu li {
  margin-left: 10px;
}

.menu li a {
  display: block;
  padding: 10px;
  color: #fffffff8;
}

.flexh1 {
  text-align: center;
  margin-top: 100px;
}

img {
  max-width: 100%;
  display: block;
  border-radius: 8px;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
}

.flexbox > div {
  flex: 0 0 200px;
  margin: 10px;
}

p {
  color: #000;
  text-align: center;
}

h1 {
  text-align: center;
}

.grid1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 780px;
  padding: 10px;
  margin: 0 auto;
  grid-gap: 20px;
}

.grid1 > div:nth-child(n + 4) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  align-items: center;
}

.grid1 > div.anuncio {
  grid-column: 1;
  grid-row: 2/5;
  display: block;
}

@media (max-width: 600px) {
  .grid1 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid1 > div:nth-child(n + 4) {
    display: block;
  }

  .grid1 > div.anuncio {
    grid-column: auto;
    grid-row: auto;
    order: -1;
  }
}
